{% extends "layout/base.html" %}

{% block content %}
<main role="main" class="container">

  <h2>Edit user</h2>

  <hr>

  <form>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="input-name">Name</span>
      </div>
      <input type="text" class="form-control" placeholder="Name" aria-label="Name">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="input-title">Email</span>
      </div>
      <input type="email" class="form-control" placeholder="Email" aria-label="Email">
    </div>

    <button type="submit" type="button" class="btn btn-primary float-right">Submit modifications</button>

  </form>

</main><!-- /.container -->

{% endblock %}